





.cont{
    background-color: #dd30c3;
    background: linear-gradient(to bottom, #dd30c3 0%, #420839 100%);
    border-radius: 143px;
    box-shadow: #ff01b3 1px 5px 15px;

}
    .carrossel {
    background-color: #216f28;
    background: linear-gradient(to bottom, #dd30c3 0%, #420839 100%);
}



.txt{
    font-size: 40px;
    font-family: "Rubik Bubbles", sans-serif;
    max-width: 300px;
    color: #52012a;
}

.fig{
    position: absolute;
    top: 80px;
    left: 1200px;
    width: 200px;
    height: auto;
    z-index: 10;
}
.fig2{
    position: absolute;
    top: 900px;
    left: 300px;
    width: 200px;
    height: auto;
    z-index: 10;
}
.fig3{
    position: absolute;
    top: 1420px;
    left: 1350px;
    width: 300px;
    height: auto;
    z-index: 10;
}